.col-2
    column-count: 2
    column-rule: 1px solid black
    //margin: 10px 0
    padding: 5px 0 10px
    //border-bottom: 1px solid
    p
        //font-family: Times
        margin-left: 15px
.col-3
    column-count: 3
    column-rule: 1px solid black
    //margin: 10px 0
    padding: 5px 0 10px
    //border-bottom: 1px solid
    p 
        margin-left: 5px
.img
    +size(200px 150px)
    margin: 0 10px
    background:
        size: cover
        position: center
    
.place-left
    float: left
    margin-right: 10px
.place-right
    float: right
    margin-left: 10px
.size1
    +size(400px 300px)
.size2
    +size(300px 150px)
.size3
    +size(300px 300px)