h2 CÉGISMERTETŐ
hr 
.col-2
    p Villamos szerelőipari tevékenységet 1986-ban kezdtük meg kisiparos, majd egyéni vállalkozó formában.
    p Első időkben lakossági szolgáltatást végeztünk, de hamarosan az igényeknek megfelelően közületi megrendeléseknek is eleget tettünk. (lásd referencialistánkat).

    p Vagyonvédelmi tevékenységet a szükséges jogosultságok és az engedélyek megszerzését követően 1999. óta végez cégünk.
    p 2001. év végén megalakult a Garai Vagyonvédelmi Szolgáltató és Kereskedelmi Kft.
    p Munkáink döntő többsége városunkra, Csongrád, Békés és Bács-Kiskun megyékre terjed ki, azonban az ország egész területén végzünk tervező, szerelő, karbantartó tevékenységet.

    p Árajánlatot, költségvetést, műszaki leírást - vagy előzetes helyszíni felmérés és egyeztetés, vagy tervrajz és egyeztetés alapján - díjtalanul adunk, kialakításakor biztonsági, műszaki és gazdasági szempontból a legoptimálisabb megoldásra törekszünk.

    p Az általunk telepített vagyonvédelmi eszközök MABISZ, ORFK, BRFK, BM. OKF, Hírközlési Felügyelet által minősítettek, ezáltal ügyfeleink a biztosító társaságokkal előnyös szerződést köthetnek.

    p Szereléskor figyelembe vesszük a meglévő villamos hálózatot, igazodunk a műszaki és építészeti lehetőségekhez, megoldásokhoz.

    p Rendelkezünk számítógépes távprogramozói állomással, ahol a nap 24 órájában tudjuk az ország bármely részéből a telefonvonalon keresztül felügyelt berendezéseinket programozni, és szükség esetén be tudunk avatkozni!
.energia 
    h3 A VAGYONVÉDELMI RENDSZEREK FELÜGYELETÉT, A HELYSZÍNI KIVONULÁST, ÉS A RENDSZEREK  KARBANTARTÁSÁT RÉGIÓNKBAN A LEGKEDVEZŐBB ÁTALÁNY DÍJSZABÁSSAL VÉGEZZÜK!

    h3 A GARAI VAGYONVÉDELEM HÓDMEZŐVÁSÁRHELY TÉRSÉGÉBEN A LEGRÉGEBBEN FOLYAMATOSAN MŰKÖDŐ ÉS AZ ELMÚLT 10 ÉVBEN A LEGTÖBB VAGYONVÉDELMI RENDSZERT KIÉPÍTŐ VÁLLALKOZÁS.
    h3 (TÖBB, MINT 600 RENDSZERSZÁM FELETT!)