.energia
    h2 Energia&nbsp;szaktanácsadás
    hr

    p SOKALLJA FŰTÉSSZÁMLÁJÁT, VILLANYSZÁMLÁJÁT, VÍZDÍJÁT ?
    br 
    p VAN MEGOLDÁS : GARAI-SZABÓ LÁSZLÓ ENERGETIKUS
    br 
    p LAKÓHÁZAK, TÁRSASHÁZAK, LAKÁSOK, MUNKAHELYEK
    p ENERGIAFOGYASZTÁS CSÖKKENTÉSE, SZAKTANÁCSADÁS, SZERELÉS
    br 
    p SZÁMLÁJÁNAK AKÁR 
        strong 30 - 50% 
        |- ÁT MEGTAKARÍTHATJA
    br 
    p 6800 Hódmezővásárhely, Kodály Zoltán u. 1/C 1 em. 4 
    p Telefon: (30) 38-38-715, Telefon/fax: (62) 534-420
    br 
    h3 SZÁMOLJON, HÍVJON - MEGÉRI !!!