h2 ENGEDÉLYEK
 
h3 A GARAI VAGYONVÉDELMI KFT. RENDELKEZIK:
 
.felsorolas
    p TELJESKÖRŰ RENDŐRHATÓSÁGI ENGEDÉLLYEL
    p VAGYONVÉDELMI KAMARAI TAGSÁGGAL
    p FELELŐSSÉGBIZTOSÍTÁSSAL
    p BIZTONSÁGTECHNIKAI TERVEZŐ-SZERELŐ IGAZOLVÁNNYAL
    p BEÉPÍTETT TŰZVÉDELMI BERENDEZÉSEK KIVITELEZÉSÉRE, JAVÍTÁSÁRA, FELÜLVIZSGÁLATÁRA, KARBANTARTÁSÁRA JOGOSÍTÓ SZAKVIZSGÁVAL
    p ÉRINTÉSVÉDELMI, VILLÁMVÉDELMI, VILLAMOS SZABVÁNYOSSÁGI FELÜLVIZSGÁLATRA JOGOSÍTÓ VIZSGÁVAL
    p DÉMÁSZ PARTNERSZERELŐI VIZSGÁVAL
    p FELSŐFOKÚ ENERGETIKAI SZAKKÉPESÍTÉSEKKEL
    p A CSONGRÁD MEGYEI MÉRNÖKKAMARA FELELŐS MŰSZAKI VEZETŐI ENGEDÉLYÉVEL:
br
br
p 
    strong 1.
    |  MV-VI/B-06-60251/2013-Erősáramú föld feletti és alatti vezetékek átalakító és kapcsoló berendezések (kisfeszültségű hálózatoknál)
p
    strong 2.
    |  MV-Ép/ÉV-06-60251/2013-Az építmények villamos, hírközlő és épület felügyeleti rendszer berendezései - az épület fogyasztásmérő készülékig - szerelési munkáinak felelős műszaki vezetése korlátozás nélkül