// Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='303px', height='150.75px', viewbox='0 0 303 150.75', enable-background='new 0 0 303 150.75', xml:space='preserve')
  g#cut
    path(fill='#001A5D', d='M294.281,70.397c-1.492-1.792-20.553-23.33-22.988-25.974C266.807,39.552,265.5,40,265.5,40H141.812\
    C129.366,18.552,106.168,4.117,79.585,4.117c-39.717,0-71.914,32.197-71.914,71.914c0,39.717,32.197,71.914,71.914,71.914\
    c28.628,0,53.345-16.73,64.917-40.945c8.208,0,22.118,0,23.789,0c2.389,0,3.73,0.061,5.075,1.402\
    c1.344,1.344,26.59,28.852,28.661,30.923c2.07,2.071,2.519,1.661,4.18,0s18.958-26.384,20.602-28.026\
    c1.643-1.642,3.135-1.045,4.18,0s23.734,24.631,25.676,26.571s3.434,1.94,5.373,0s30.453-57.621,32.244-60.905\
    C296.072,73.681,295.773,72.188,294.281,70.397z M92.066,53.924c-3.469,3.304-5.286,4.791-7.93,6.608\
    c-2.644,1.817-5.667,4.005-7.104,2.809c-0.991-0.826-0.991-1.982,0.331-2.974c1.322-0.992,14.207-12.39,15.694-17.511\
    c1.487-5.121-5.452-6.608-11.895-5.122S62.661,47.15,54.4,53.428c-8.261,6.278-12.555,13.216-14.537,18.998\
    c-1.222,3.563-0.991,12.557,1.322,16.19s7.764,7.93,14.207,8.425s16.521-6.277,20.32-9.251c3.799-2.974,6.773-1.321,10.573-1.487\
    c3.8-0.166,0.165,3.965-2.148,6.608s-1.817,6.772-2.147,9.251c-0.33,2.479-3.304,6.277-6.443,11.729\
    c-3.139,5.451-7.104,10.738-8.59,11.399s-3.965-0.495-4.46-1.321s-0.991-1.982-0.496-2.809c0.495-0.827,5.617-6.113,10.242-13.877\
    s-4.46-5.122-10.903-3.801c-6.443,1.322-13.546,2.479-22.302-4.955c-8.756-7.435-11.399-18.338-3.634-33.866\
    c7.833-15.666,28.415-27.258,37.997-30.728c9.582-3.47,13.711-3.8,17.842-2.974c4.131,0.826,7.93,3.965,8.755,8.921\
    C100.823,44.836,95.536,50.62,92.066,53.924z M139.645,57.724c-0.33,0.991-0.991,2.644-3.634,3.469\
    c-2.643,0.825-9.747,1.817-17.181,6.773s-13.216,11.399-12.886,15.859s5.452,7.93,10.738,5.782\
    c5.286-2.148,8.095-4.131,11.399-9.418c3.304-5.287,3.469-6.277,5.121-8.424c1.652-2.147,5.617-2.809,4.295,0.661\
    c-1.322,3.471-3.47,6.608-3.8,10.078c-0.33,3.471,0.33,7.27,2.478,7.27s3.139-0.166,2.148,1.981\
    c-0.991,2.147-1.983,4.46-5.122,4.46c-3.139,0-4.625-2.974-7.269-2.974s-4.461,3.304-12.556,3.304s-13.711-4.956-15.198-9.912\
    c-1.487-4.956,2.147-13.877,18.007-22.798s21.184-7.995,21.184-7.995C139.235,55.883,139.975,56.732,139.645,57.724z\
    M182.167,61.167c-3.334,2.333-4.334,0.834-7.667,5.667s-6.667,13-6.5,16s1.167,5.833,5,6.5s7.667,0.667,6.167,3\
    s-0.168,3.833-9.834,3.833s-12.834-4.166-10-10.833s6.834-13.167,7.334-18s-1.834-5.5-4.834-5.5s-5.501,2.666-8.25,5.25\
    c-1.214,1.141-4.708,0.458-4.042-2.042s2.895-9.52,5.229-11.187s3.031-1.094,4.031-0.094s2.197,3.24,4.531,3.24s17.167,0,17.167,0\
    s0.791,0.004,1.364,0.325C183.117,58.025,184.452,59.567,182.167,61.167z M230.645,57.724c-0.33,0.991-0.99,2.644-3.635,3.469\
    c-2.644,0.825-9.746,1.817-17.181,6.773s-13.218,11.399-12.888,15.859c0.332,4.46,5.453,7.93,10.738,5.782\
    c5.287-2.147,8.096-4.131,11.399-9.418c3.303-5.287,3.469-6.277,5.121-8.424c1.651-2.147,5.616-2.809,4.296,0.661\
    c-1.322,3.469-3.471,6.608-3.801,10.078c-0.33,3.471,0.33,7.27,2.479,7.27c2.149,0,3.139-0.166,2.148,1.981\
    c-0.992,2.147-1.983,4.46-5.122,4.46c-3.14,0-4.625-2.974-7.269-2.974c-2.645,0-4.461,3.304-12.557,3.304\
    c-8.095,0-13.712-4.956-15.197-9.912c-1.486-4.956,2.146-13.877,18.006-22.798c15.86-8.921,21.186-7.995,21.186-7.995\
    C230.234,55.883,230.975,56.732,230.645,57.724z M250.953,57.126c1.279-1.912,3.683-2.549,5.365-1.422\
    c1.682,1.127,2.009,3.591,0.729,5.503c-1.279,1.912-3.683,2.548-5.365,1.421C249.998,61.502,249.672,59.038,250.953,57.126z\
    M272.833,92.583c-1.666,3-2.666,2.417-4.166,2.417S247.5,95,247.5,95s-6.325,0.602-6.492-4.064s0.328-6.936,2.66-11.686\
    c3.027-6.168,4.498-7.958,6.665-7.625S252,73.812,251,78.812c-1,5-2.167,10.188,3.167,10.188s15.333,0,15.333,0\
    S274.499,89.583,272.833,92.583z')
