h2 REFERENCIÁINK
hr 
h3 RIASZTÓRENDSZEREK:
p 
    strong Lőkösháza: 
    | BM Határőr Kirendeltség;  
    strong Biharugra: 
    | BM Határőr Kirendeltség;  
    strong Makó: 
    | Szent István Gimnázium;  
    strong Orosháza: 
    | BM Határőr Igazgatóság; Szőnyegház; Bárium Kft; Cre-Viza Rt. Zálogház;  
    strong Kecskemét: 
    | Euronics Áruház;  
    strong Tapolca: 
    | TV Stúdió;  
    strong Csengele:  
    | Vetter Kft;  
    strong Derekegyház:  
    | PIK-NIK Söröző;  
    strong Földeák:  
    | Benzinkút;  
    strong Maroslele:  
    | Központi Csemege;  
    strong Szentes:  
    | Pi-Bió Kft;  
    strong Kútvölgy:  
    | Olvasókör;  
    strong Szikáncs:  
    | Élelmiszerbolt;  
    strong Békéssámson:  
    | Gazdabolt;  
    strong Csongrád:  
    | Turbó Kft; Kerti Törpe Nagykereskedés; Pi-Bió Kft; Tűzoltóság; Kert Vendéglő;  
    strong Szegvár:  
    | Élelmiszer Áruház;  
    strong Székkutas:  
    | Sarok Presszó;  
    strong Árpádhalom:  
    | Rádai Kft;  
    strong Nagymágocs:  
    | Aro Diszkont;  
    strong Kaposvár:  
    | Gyermelyi Zrt.Raktár;  
    strong Szigetszentmiklós:  
    | Szerszámüzem;  
    strong Székkutas:  
    | Szeszfőzde;
p  
    strong Mártélyon:  
    | Polgármesteri Hivatal; Autófestő műhely; Ó-kocsma; Oktatóbázis;
p  
    strong Mindszenten:  
    | Polgármesteri Hivatal és Okmányiroda; Tisza Műv.Ház; Városi Könyvtár; Gondozási Központ; Soós ABC; Eco-Phone; Hód-Juvella; Búza Kocsma; Geonet Kft; Orvosi Rendelő; Kegyeleti Kft; Marton ABC; Autófestő műhely; Autómosó; Dr Pálinkó Ügyv. Iroda;
p  
    strong Szegeden:  
    | Hexagon Plusz Kft; Csongrád Megyei Kegyeleti Kft; Dél-Vet Kft; B-Com Kft; Megyei Agrárkamara;
p  
    strong Hódmezővásárhelyen:  
    | Delfin Computer Rt; Kossuth Zsuzsanna Szakközépiskola; Szántó Kovács János Iskola; Szőnyi Benjámin Iskola; Halmay Zoltán Iskola; Klauzál utcai Iskola; Virág utcai Óvoda; Alföldi Galéria; Hód-Agro Rt.; Cre-Viza Rt. Zálogház; Olcsó János Üzletház; Elektrománia; Elektropont Áruház; Euronics Áruház; Gramex Szőnyegház; Diego Szőnyegház; Mester Szerszámbolt; Fuji Fotó Centrum; Véró Autószalon; Toro Villamossági; Kincses Villamossági; Hód-Szakszervíz Kft; Színes Üzletház; Kínai Diszkont; Menyasszonyi Ruhaszalon; Aramis Férfi Divatszalon; Cápa Cipőbolt; Laminár Ajándékbolt; Klári Molett Módi; Virág Autósbolt; Sikkens festék; Club GSM Center; Hóvirág Cukrászda; Ifjúsági Park; Tiszti Klub; Taverna Étterem; Süti- Kávé; Mini-Market; Berkenye ABC; Mester  utcai Fagyizó; Autóbusz Pályaudvar Büfé; Dobó Ferenc Horgászegyesület; Pneu-Trade Kft; Garai Kerámia Kft; Szintézis Kft; Bravo-Tech Kft; Csongrád Megyei Kegyeleti Kft; Tutti-Trade Kft; Laminár Kft; Laminár Kft Bútorkellék; Gáz-Elektro Kft; Konstsmide Kft; Dió896 Kft; Hód-Vill Kft; Hód-Villex Kft; Gép-Szak Kft; Alma-Rend Kft; K-Farost Kft; Pi-Bió Kft; Gordiusz Kft; Brinkmann Kft; Mechanika Hungária Kft; Orosz és Társa Hűtéstechnikai Kft; EPS Kft; Szakmáry Ügyvédi Iroda; Szemző Ügyvédi Iroda; Gémes Ügyvédi Iroda; Kecskés Ügyvédi Iroda; Kereskedelmi és Iparkamara; Setéstelep; Libatelep; Cre-Viza Rt; Vackorkert Bt; Milk-Tech Kft; Halmay Zoltán Iskola; Papp Autószer; Linnemann Kft; Vagyonkezelő Rt; Zsinagóga és Holocaust Múzeum; Soliter Nyomda; Alustart Kft. Árpád Patika; Dr Szitás Orvosi Rendelő; Totál Szerviz; H&B Kft; Kia-Véró Szalon; Határmenti Tanácsadó; N+V Kft; Tourinform Iroda; Hipoxi Szalon; H&B Festőüzem; L-Z Team társasház; Építészmester Rt Telephely és Irodaház; Hajléktalanszálló; Csodaház; First-Mobil Autókereskedés; Ciklon Kft; Munkaügyi Központ; Tornyai Általános Iskola; Eurotex Kft; Édes Otthon; Ircsi Divatáru; Baustúdium;Takács-Kun Kft; Maczelka és Tsa.Kft;Varga T.Általános Iskola; Szent István Általános Iskola; Corvin M.Szakközépiskola; Nádor Utcai Általános Iskola; Petőfi Művelődési Ház;Tornyai János Múzeum; Mozaik Kamara Terem; Inter-Plant Kft;
p Hódmezővásárhelyen, Budapesten, Érden, Szegeden, Békéscsabán, Csongrádon, Bokroson, Orosházán, Szentesen Mindszenten, Mártélyon, Székkutason, Maroslelén; Tárnokon, Tiszaalpáron, Mezőkövesden; Gyopároson, stb. családi házak, lakások.
 
h3 TŰZJELZŐ RENDSZEREK:
p   
    strong Orosháza:  
    | BM Határőr Igazgatóság;   
    strong Biharugra:  
    | BM Határőr Kirendeltség;   
    strong Lőkösháza:  
    | BM Határőr Kirendeltség;   
    strong Kistelek:  
    | 24 szobás Panzió;   
    strong Martfű:  
    | Bunge Rt.;   
    strong Csongrád:  
    | Turbó Kft; Agrodara Kft; Idősek Otthona; Tűzoltóság;   
    strong Árpádhalom:  
    | Rádai Kft.;   
    strong Mindszent:  
    | Tisza Műv. Ház;   
    strong Budapesten:  
    | UHU Panzió és Villa; ATEV Irodaház;   
    strong Kaposvár:  
    | Gyermelyi Zrt.Raktár;
p   
    strong Szegeden:  
    | DÉMÁSZ RT; Megyei Agrárkamara;
p   
    strong Hódmezővásárhelyen:  
    | Berli-Hód Irodaház; Hódtó Szennyvíztelep; Városi TV adó; Alföldi Galéria; Corvin Mátyás Szakközépiskola; Tarjáni Általános Iskola; Szent István Általános Iskola; Zsinagóga És Múzeum; Erzsébet Kórház; Soliter Nyomda; Határmenti Tanácsadó; Postahivatal; Csodaház; Hajléktalanszálló; Villeroy&Boch; Munkaügyi Központ;
 
h3 VIDEO MEGFIGYELŐ ÉS RÖGZÍTŐ RENDSZEREK:
p   
    strong Biharugra:  
    | BM Határőr Kirendeltség;   
    strong Lőkösháza:  
    | BM Határőr Kirendeltség;   
    strong Székkutas:  
    | Szatócsbolt;   
    strong Csongrád:  
    | Tűzoltóság;
p   
    strong Szegeden:  
    | Adidas Márkabolt; Citroen-Volvo autóbontó; Hexagon Plusz Kft;   
    strong Szigetszentmiklós:  
    | Szerszámüzem;
p   
    strong Mindszent:  
    | Térfigyelő rendszer; Autófényező; Autómosó; Gimnázium és Általános Iskolák; Sólyom Cukrászat;
p   
    strong Hódmezővásárhelyen:  
    | Béketelepi ABC; Gramex Szőnyegház; Mester Szerszámbolt; Villeroy & Boch padlógyár; Villeroy & Boch Szaniter; Maropa Kft; Édes Otthon Áruház; Aramis Férfi Divatszalon, Speed Kft, Róna Kft; Diszkont Áruház; Linnemann Kft; Vodafon Tesco; Alustart Kft; Hód-mező Kft; Verók Csemege; Dr Szitás Rendelő; Kecskés Ügyvédi Ir; Árpád F. Patika; First-Mobil Autókereskedés; Kia-Véró Szalon;  Aqua Szalon; Süd-Alu Kft; H&B Color Kft; Ircsi Divatáru; N+V 2000 KFT;
 
h3 KAPUTELEFONOK, KAPUVIDEOK:
p   
    strong Orosháza:  
    | BM Határőr Igazgatóság;   
    strong Biharugra:  
    | BM Határőr Kirendeltség;   
    strong Lőkösháza:  
    | BM Határőr Kirendeltség;
p   
    strong Szigetszentmiklós:  
    | Szerszámüzem;
p Szeged, Orosháza, Deszk, Midszent és Hódmezővásárhely családi házak és társasházak több mint 80 helyen.
 
h3 BELÉPTETŐRENDSZEREK:
p   
    strong Hódmezővásárhelyen:  
    | Zsigmody Béla Rt; Speed Kft; Alucon Kft;
p   
    strong Szigetszentmiklós:  
    | Szerszámüzem;
 
h3 HANGOSÍTÁS:
p   
    strong Hódmezővásárhelyen:  
    | Kincses Temető; Szőnyi Benjámin Általános Iskola;
p   
    strong Mindszent:  
    | Temető
 
h3 VILLANYSZERELÉS:
p   
    strong Vidéken:  
    | Pick Rt. Szeged-Zsírüzem; Villeroy&Boch Hmvhely-Masszaüzem; Duna Plaza, Győr Plaza, Csepel Plaza-külső relkámvilágítás; Kecskemét, Szentes, Makó, Hmvhely    buszpályudvarok- külső reklámvilágítás;
p   
    strong Hódmezővásárhelyen:  
    | Délvilág Szerkesztőség; Laminár Kft; Liget Vendégkő; Bravo-Tech Kft irodaház; Nádor utcai,-Kertvárosi,-Kutasi úti Óvodák; Elektro Qality Áruház; Soli-Sun Stúdió