h2 Távfelügyelet
hr
h3 MI IS A TÁVFELÜGYELET? 
p A távfelügyeleti rendszer lehetővé teszi a megvédeni kívánt objektum riasztó vagy ellenőrzőjelzéseinek megkülönböztetését, a helyszínek azonosítását és a megfelelő beavatkozások elindítását. A rendszer egyik oldala az objektumokban lévő riasztórendszerek összessége, a másik a felügyeleti központ egy monitoring-rendszer, amely speciális számítógépből és a szükséges kiegészítő berendezésekből (hangrögzítő stb.) áll.
p A riasztóberendezések, az általuk generált ellenőrző és riasztójelzéseket - kapcsolt vonalas rendszer esetén - a kommunikátoruk segítségével egy normál telefonhíváson keresztül juttatják el a központi számítógéphez.
p A mai korszerű riasztórendszerek már mind rendelkeznek kommunikátorral, kezelni tudják az alapvető kommunikációs formátumokat. (Contact ID; Radionics; stb.) Ez a kommunikáció kapcsolt telefonvonalon keresztül működik.
 
h3 A riasztórendszerek jelzései:
p Behatolás jelzés - a védendő ingatlanba való behatolás esetén a rendszer a diszpécserközpontba riasztás jelzést továbbít. A rendszer zónánkénti felbontásban azonosítja a jelzéseket. A telepítés során a védendő ingatlant zónákra bontják, így az adott zónába telepített érzékelő jelzésére azonosítani lehet a behatolás helyét, követni az elkövető mozgását.
p Tűzjelzés - a diszpécserközpont megfelelően telepített füstérzékelők segítségével képes tűzjelzések fogadására is. A tűzjelzés a riasztórendszer kikapcsolt állapotában is működik.
p Támadásjelzés - amennyiben egy a riasztórendszer közelében tartózkodó személyt támadás éri, biztonsága érdekében lehetősége van riasztási jel továbbítására helyi hangjelzés (sziréna) nélkül, pánikgomb megnyomásával. A támadásjelzés a riasztórendszer kikapcsolt állapotában is működik.
p Kényszerített kikapcsolás - a nyitásjelentés olyan speciális formája, amely a riasztórendszer kényszerített kikapcsolását jelzi. Ilyen esetben speciális kódot kell a kikapcsoláskor használni, amelyből a diszpécser látja, hogy a kikapcsoló személy segítséget kér.
p Szabotázsjelzés - a riasztórendszer kikapcsolt állapotában is működik, jelzi a riasztó központ, illetve a hozzá kapcsolódó eszközök rongálását.
p Állapotjelzések - A berendezések, eszközök állapotának átjelzése a diszpécserközpontba, segítségével az ügyelet azonnal tudomást szerez az esetleges műszaki problémákról (hálózati feszültség kimaradása, akkumulátor állapota, stb.)
p Nyitás-zárás jelentés  -  a riasztóközpontok a be és kikapcsolásokat is jelenteni tudják a felügyeletre
 
p Ezeken a jelzéseken kívül a 
    strong GARAI VAGYONVÉDELEM
    |  által ajánlott riasztóközpontok, (de valószínűleg  minden egyéb gyártmányú riasztóközpontok is) bármilyen külső eszköz, berendezés, vagy rendszer állapotát képesek átjelezni a felügyeletre. Például tűzjelző központok jelzései is átjelezhetőek riasztóközpont segítségével.
 
p A felügyeleti központi vevőberendezés képes egyszerre több riasztórendszer jeleit fogadni egy speciális szoftver segítségével, amely szelektálja, tárolja és ellenőrzi a szöveges adatokat. A szoftver egy diszpécser program. A bekötött rendszereket az ügyféltörzsbe lehet felvenni ügyfél azonosító alapján. Az ügyfelekhez fel tudunk venni értesítendő személyeket, akiket a megadott eseménykor értesíteni kell. Riasztás esetén megjelenik az ügyfél, az esemény és az eseményhez tartozó értesítendő adatai. A program egyszerre több riasztásban álló ügyfelet is tud kezelni, és ezeket az eseményeket egymástól függetlenül le tudjuk kezelni. A program lehetőséget biztosít a beérkezett üzenetek dokumentálására, lekérdezésére, listázására. A központi egységet egy 24 órás élőerős felügyelettel rendelkező diszpécseri ellenőrzéssel kell kiegészíteni. A diszpécsernek kell a beérkező jelzésekre az előre meghatározott intézkedéseket végrehajtani. (például a helyszínre kivonulásra megadott személyek értesítése)