h2 TEVÉKENYSÉGÜNK
hr 
h3 AZ ELEKTRONIKUS VAGYONVÉDELMI RENDSZEREK TELJES VÁLASZTÉKA GYENGEÁRAMÚ ÉS ERŐSÁRAMÚ HÁLÓZATOK
.col-2 
    h4 - ELEKTRONIKUS RIASZTÓBERENDEZÉSEK
    p Az 1998. évi IV. törvény, és a belügyminiszter 24/1998.(VI. 9.) BM rendelete alapján Létesítmények, épületek, irodák, telephelyek, lakások riasztóberendezéseinek tervezése, szerelése, karbantartása, felügyelete.

    h4 - TŰZJELZŐ RENDSZEREK, BEÉPÍTETT TŰZVÉDELMI BERENDEZÉSEK
    p A 35/1996.(XII. 29.) BM rendelet, és a belügyminiszter 9/2000. (II. 16.) BM rendelete alapján az építményekben, szabadtéren elhelyezett, helyhez kötött, a tűz kifejlődésének korai szakaszában észlelést, jelzést és megfelelő tűzvédelmi intézkedést önműködően végző berendezések tervezése, szerelése, javítása, karbantartása és felülvizsgálata.

    h4 - VIDEOMEGFIGYELŐ ÉS RÖGZÍTŐ RENDSZEREK
    p Egy vagy többkamerás megfigyelő és rögzítő rendszerek tervezése, telepítése, karbantartása. Térmegfigyelő rendszerek kivitelezése számítógépes rögzítéssel, video távfelügyelet. Videokamerák, monitorok, digitális rögzítőkártyák forgalmazása. 

    h4 - AUDIO ÉS VIDEO KAPUTELEFONOK, BELÉPTETŐRENDSZEREK
    p A kódzáras ajtónyitástól egy vállalat teljes munkaidő nyilvántartással együtt létesíthető beléptetési felügyeletéig.
    p Az egy lakásos audio kaputelefontól a soklakásos társasházak video kaputelefon rendszeréig, akár forgatható kamerával és képmemóriával.

    h4 - HANGOSÍTÁS, GYENGEÁRAMÚ HÁLÓZATOK
    p Hangosítás, számítógépes hálózat, telefonhálózat szerelése.

    h4 - TÁVFELÜGYELET
    p A felügyelt területen működő elektronikai berendezések jelzései vezetékes telefonvonalon, vagy / és GSM telefon segítségével diszpécserszolgálatra küldhetők, ahol a 24 órás szolgálat a beérkező jelzéseket kiértékeli, és a legrövidebb időn belül dokumentáltan (számítógépes rögzítés, magnetofon felvétel, videofelvétel) intézkedik.

    h4 - VILLANYSZERELÉS, VILLAMOS FELÜLVIZSGÁLAT
    p Lakóházak, irodák, épületek teljes körű villamos hálózatának szerelése.
    p Légvezetékes és földkábeles csatlakozó vezeték, fogyasztás mérőhely kiépítése (Démász partner).
    p Kertvilágítás, díszvilágítás szerelése, úszómedence, szauna, szökőkút villamos szerelése.