h2 Video&nbsp;rendszer
hr
p Az utóbbi időkben jelentős teret hódított magának a PC alapú digitális videojel feldolgozás és rögzítés. A rendszer előnye, hogy költségét tekintve nem drágább, sőt sok esetben a külön álló képfeldolgozó és a videorecoder költsége meghaladja a digitalizáló egység és a szoftver költségét.
p A legfőbb különbség azonban a rendszer által nyújtott szolgáltatások minősége és mennyisége tekintetében jelentkezik.
 
h3 PC alapú video megfigyelő és rögzítő rendszer főbb tulajdonságai:
.felsorolas 
    p 1-32 kamera kezelése
    p nagyfelbontású képkezelés (384*288, 752*582)
    p beépített, jól konfigurálható mozgásérzékelő. A képterületen beállítható a mozgásérzékelési terület.
    p Figyelmeztetés/hanglejátszás mozgás, videokamera elvesztés esetén
    p videó kép tárolása megadott időközönként és/vagy mozgás esetén
    p állítható videó kép tárolási minőség
    p akár több hónapra visszamenőleg is visszanézhetők a felvételek.
    p felvételek tárolására akár több winchesteren is kialakítható videó puffer, melyet a rendszer egyként kezel.
    p felvétel/visszajátszás a kiválasztott kamera/kamerák alapján
    p felvétel visszakeresése megadott időpont, kamera alapján
    p a legrégebbi felvételek automatikusan törlődnek, hogy legyen hely az újabbaknak
    p a videó képek szerkeszthetők, kinyomtathatók, elmenthetők, CD-re írhatók, e-mailben elküldhetők
    p a rendszer a programot kezelő összes tevékenységet naplózza (felvételindítás, leállítás, beállítások módosítása stb.)
    p a jogosultsági rendszer lehetővé teszi, hogy felhasználónként meghatározhassuk ki milyen funkciókat láthat el. Ez vonatkozik a távoli gépről bejelentkezett felhasználókra is.
    p kameramozgató vezérlés, lehetséges automatikus pásztázás és nyomkövetés is.
    p külső eszközök vezérlése (8 bemeneti, 8 kimeneti port)
    p távoli gépről is figyelhetjük a kamerákat, visszanézhetjük a felvételeket,
    p vezérelhetjük a kameramozgatókat. A távoli gépen is figyelmeztet mozgás, vagy kamera elvesztés esetén.
    p támogatott operációs rendszerek Win98, Win2000, WinNT, WinXP; LINUX, típustól függően.
p Digitális rendszer esetében belső számítógépes hálózatról, több munkaállomásról is meg lehet tekinteni az egyes kamerák képét, vagy az előzetesen rögzített felvételek valamelyikét. Mivel a videojel feldolgozás digitális, így az archivált felvételekről az egyes kamerák képe külön-külön folyamatában is megtekinthető, miközben a képrögzítés is folyamatos marad. Továbbá az egyes felvételek képromlás nélkül másolhatóak, nyomtathatóak, vagy akár CD-re írhatóak.

p A szerver a kamerák képeit rögzíti, a szekvenciális és/vagy osztott képeket a saját monitorán (monitorain) jeleníti meg, az aktuális és a letárolt képállományok lejátszása, az események archiválása, a nyomtatás a helyi, helyi hálózati és a távoli vezérlőfelület segítségével valósul meg.
 
p A szerver olyan speciálisan kialakított PC (külsőre lehet akár hagyományos PC formátum is), melyet a 
    strong rendszer által támasztott speciális  követelménynek megfelelően állítunk össze 
    | és többek között áramszünet - szünetmentes tápegység leállása - miatti leállást követően automatikusan újraindul, valamint rajta csak a videó rendszer jelszóval védett programja használatos. Illetéktelen felhasználói beavatkozás csak szándékos károkozással lehetséges.
 
p A rendszer rögzítése független a helyi megfigyelő, felügyeletet biztosító személyzettől, (jogosultság, hozzáférés). 
p A rendszer eseménymemóriával is rendelkezik, így minden kezelés, beavatkozás, leállítás, újraindulás, módosítás visszakereshető személy megjelöléssel, időponttal együtt.
 
p A rendszer csak mozgás esetén rögzít és távoli számítógépről betekintési lehetőséget biztosít. A távoli számítógép konfigurációs feltétele: P III számítógép, Celeron 600 MHz processzor, 128 MB RAM, 32 MB videokártya, Win98, vagy attól frissebb bármely grafikus operációs rendszer (kivéve a VISTA), DirectX 8.1 vagy újabb szoftveres kezelővel ellátva.
 
p Ingyenes - Weblapról korlátozás nélkül letölthető - betekintő (kliens) programmal a világ bármely pontjáról a rendszerbe betekintést nyerhetünk, felvételeket játszhatunk vissza, illetve pl. betörés esetén képet kaphatunk az eseményről. Természetesen a kapcsolat létrehozása, a felvételek megtekintése, különböző beállítások, csak és kizárólag a megfelelő jogosultsággal rendelkező személyeknek lehetséges.
 
p A videó megfigyelő rendszer távoli elérése akkor lehetséges, ha a video szervernek van online (pl.: ADSL) Internet kapcsolata és állandó IP cím előfizetése (kb. 6.000,- Ft/hó), mivel a kapcsolatfelvétel TCP/IP protokollal lehetséges. 
    strong FIGYELEM!!
    |  Az adatátvitel sebességét (a megjelenített képek számát és azok frissítési sebességét) a szervergépnél rendelkezésre álló online Internet hozzáférés (pl.: ADSL) 
    strong feltöltési 
    | sebessége - sávszélessége - határozza meg.
 
p Hangfelvétel is lehetséges 4 kameránként 1 csatornán. Élőhang megfigyelés csak a szerver gépen lehetséges.
p A Videó megfigyelő rendszerhez célszerű szünetmentes áramforrásokat alkalmazni.