h2 Villanyszerelés
hr 
.col-2 
    p - Üzletek, irodák, közintézmények, telephelyek, lakóházak, üdülők, épületek teljes körű villamos hálózatának szerelése.  
    p - Légvezetékes és földkábeles csatlakozó vezeték, fogyasztás mérőhely kiépítése.
    p - (Démász partnerszerelő)
    p - Világítási hálózat szerelése.
    p - Kertvilágítás, díszvilágítás szerelése.
    p - Úszómedence, szauna, szökőkút villamos szerelése.
    p - Gyengeáramú hálózatok kiépítése.